dist
cabal.sandbox.config
.cabal-sandbox/
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_hi
*.dyn_o
*.p_hi
*.p_o
*.js_dyn_hi
*.js_dyn_o
*.js_p_hi
*.js_p_o
*.js_o
*.js_hi
.virthualenv
.hsenv*
*.*~
*.swp
.DS_Store
backend.pid
backend.out
.shelly
TAGS
tags
*~
*.orig
hsenv.log
\#*#
.#*
/shell.nix
/ghci-tmp
*.dump-*
*.verbose-core2core
